.contents {
  margin: 120px auto;
  max-width: 1200px;
  text-align: center;

  &__title {
    font-size: 3.2rem;
  }

  &__subtitle {
    font-size: 1.6rem;
    margin: 8px 0 80px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
  }

  &__item {
    margin: 5px;

    img {
      width: 24vw;
      height: 24vw;
      object-fit: cover;
    }
  }

  &__text {
    margin: 50px auto;
  }

  @include mobile {
    margin: 80px auto;
    padding: 0 4%;

    &__subtitle {
      margin: 8px 0 40px;
    }

    &__item {
      img {
        width: 40vw;
        height: 40vw;
      }
    }
  }
}