<nav class="nav">
  <ul class="nav__list">
    <li class="nav__item">
      <a href="index.html">
        <img src="img/nav/logo.svg" alt="生田一希建築設計事務所">
      </a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="index.html#work">Works</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="index.html#contact">Contact</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="index.html#sns">SNS</a>
    </li>
  </ul>
</nav>
